<template>
  <div id="map">
    <div id="container"></div>

    <el-input id="search"
              placeholder="搜"
              icon="search">
    </el-input>

    <div id="panel">
      <!--<div id="select-list">-->
      <!--<el-input id="warehouse" placeholder="warehouse" icon="arrow-down"></el-input>-->
      <!--<el-input id="station" placeholder="station" icon="arrow-down"></el-input>-->
      <!--<el-input id="order" placeholder="order" icon="arrow-down"></el-input>-->
      <!--</div>-->


      <div v-for="company in companyList" :key="company.id" @click="skip(company)">
        <div id="company-list-item">
          {{company.id}}
          <br>
          {{company.position}}
        </div>
      </div>


      <el-pagination
        layout="prev, pager, next"
        @current-change="handleCurrentChange"
        :total="total"
        :page-size="pageSize">
      </el-pagination>

    </div>
  </div>
</template>


<script>

  import remoteLoad from '../utils/remoteLoad'
  import {MapKey, Mark_b, Mark_r} from '../config/config'
  import Api from '../api/Api.js'

  var map, infoWindow;
  export default {
    data() {
      return {
        AMapUI: null,
        AMap: null,
        markers: [],
        companyList: [],
        page: 1,  //当前页面
        pageSize: 5,  //页面显示条目
        total: 0, //总共有多少条数目
        centerPosition: []
      }
    },
    created() {
      // 已载入高德地图API，则直接初始化地图
      if (window.AMap && window.AMapUI) {
        this.initMap()
        // 未载入高德地图API，则先载入API再初始化
      } else {
        // 载入高德地图和UI组件
        Promise.all([
          remoteLoad(`http://webapi.amap.com/maps?v=1.3&key=${MapKey}`),
          remoteLoad('http://webapi.amap.com/ui/1.0/main.js')
        ]).then(() => {
          this.initMap()
        })
      }
      this.initData();
    },
    methods: {
      skip(company) {
        map.setZoomAndCenter(18, company.position);
        let info = company.position
        infoWindow = new AMap.InfoWindow({
          content: info.join(''),  //使用默认信息窗体框样式，显示信息内容
          offset: new AMap.Pixel(0, -30)
        });
        infoWindow.open(map, company.position);
      },
      handleCurrentChange(val) {
        this.page = val;
        this.initCompanyList()
      },
      initMap() {
        map = new AMap.Map('container', {
          resizeEnable: true,
          zoom: 13,
          conter: []
        });
        this.markers.forEach(function (marker) {
          new AMap.Marker({
            map: map,
            icon: Mark_b,
            position: [marker.position[0], marker.position[1]],
          });
        });
        //地图自适应显示
        map.setFitView();
      },
      initData() {
        Api.getCompanyList().then(response => {
          if (response.success) {
            this.markers = response.objs
            this.total = this.markers.length
            this.initCompanyList()
          }
        })
      },
      initCompanyList() {
        this.companyList.length = 0;
        let startIndex = (this.page - 1) * this.pageSize;
        let endIndex = this.page * this.pageSize;
        for (var i = startIndex; i < endIndex; i++) {
          this.companyList.push(this.markers[i]);
        }
      },
    }
  }
</script>


<style scoped>
  #container {
    width: 100%;
    height: 600px;
  }

  #panel {
    position: absolute;
    background-color: white;
    max-height: 80%;
    overflow-y: auto;
    top: 50px;
    left: 10px;
    width: 310px;
    text-align: center;
    border: 1px solid #C0C0C0;
  }

  #search {
    position: absolute;
    background-color: white;
    top: 10px;
    left: 10px;
    /*height: 50px;*/
    width: 310px;
  }

  #select-list {
    display: inline;
  }

  #warehouse {
    width: 33%;
  }

  #station {
    width: 33%;
  }

  #order {
    width: 30%;
  }

  #company-list-item {
    height: 80px;
    align: center;
    border: 1px solid #EAEAEA;
  }

</style>
